KAFKA_CLIENT_ID=email-consumer
KAFKA_BROKERS=redpanda:9092
KAFKA_CONSUMER_GROUP=email-consumer-group
KAFKA_SEND_TOPIC=job.notification.send

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=email-bodies

ZEPTOMAIL_API_URL=https://api.zeptomail.in/v1.1/email
ZEPTOMAIL_TOKEN=Zoho-enczapikey PHtE6r0LF+nsj2Yv+0ACt/K/EMb3NYoprOgyKAlOtYhEC6BRHU0BqNoixDCy+kgoA6FCEPHJyI0+s7+V57qAJ2ruZmZLXGqyqK3sx/VYSPOZsbq6x00at1weckXYVo7td9Jp0yTTstmX
