NODE_ENV=development
POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/placement_erp
POSTGRES_SCHEMA=public
MONGODB_URI=mongodb://mongodb:27017/placement_erp
REDPANDA_WORKER_CLIENT_ID=placement-approval-service-worker
REDPANDA_WORKER_GROUP_ID=placement-approval-workers
REDPANDA_BROKERS=redpanda:9092
REDPANDA_UPLOAD_TOPIC=pdie.uploads
